= simple_form_for @comment, :url => story_comments_path(@story, @comment), :html => { :class => 'form-inline text-center' } do |f|
  = f.error_notification
  = f.input :body, :as => :text, :label => false, :input_html => { :class => 'input-xxlarge', :rows => 7 }
  = f.button :submit, :class => 'btn-success'
